body {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  background: #111827;
}
input, select {
  outline: none;
  border: 1px solid #278392;
}
button {
  cursor: pointer;
}
table {
  min-width: 600px;
  border-spacing: 0;
}
td, th {
  padding: 0.5rem 1rem;
}
tr:hover {
  background: #06edd3;
  color: #111827;
}
